openapi: 3.2.0
info:
  title: Ankr Liquid Staking Validators API
  description: 'The Ankr Liquid Staking RESTful API surfaces staking metrics, the trustless

    exchange ratio, and validator metadata across Ankr''s liquid staking tokens

    (ankrETH, ankrBNB, ankrPOL, ankrAVAX, ankrFTM, ankrDOT, etc.). It complements

    the on-chain Smart Contract API exposed on Avalanche, Binance Smart Chain,

    Ethereum, Fantom, and Polygon.

    '
  version: 1.0.0
  contact:
    name: Ankr
    url: https://www.ankr.com
    email: support@ankr.com
  license:
    name: Ankr Terms of Service
    url: https://www.ankr.com/terms/
servers:
- url: https://api.staking.ankr.com
  description: Ankr Staking RESTful API.
tags:
- name: Validators
  description: Validator metadata, unbond times, reward release windows.
paths:
  /v1.0/validators/{chain}:
    get:
      summary: Ankr Get Validators
      description: Returns Ankr-operated validators on a given chain, including unbond windows and reward release schedules.
      operationId: getValidators
      tags:
      - Validators
      parameters:
      - $ref: '#/components/parameters/Chain'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidatorList'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
components:
  responses:
    ErrorResponse:
      description: Error response.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Validator:
      type: object
      properties:
        address:
          type: string
        chain:
          type: string
        active:
          type: boolean
        unbondPeriodSeconds:
          type: integer
        rewardReleaseSeconds:
          type: integer
    Error:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
    ValidatorList:
      type: array
      items:
        $ref: '#/components/schemas/Validator'
  parameters:
    Chain:
      name: chain
      in: path
      required: true
      schema:
        type: string
        enum:
        - ethereum
        - bsc
        - polygon
        - avalanche
        - fantom
        - polkadot
