openapi: 3.2.0
info:
  title: Ankr Liquid Staking Metrics API
  description: 'The Ankr Liquid Staking RESTful API surfaces staking metrics, the trustless

    exchange ratio, and validator metadata across Ankr''s liquid staking tokens

    (ankrETH, ankrBNB, ankrPOL, ankrAVAX, ankrFTM, ankrDOT, etc.). It complements

    the on-chain Smart Contract API exposed on Avalanche, Binance Smart Chain,

    Ethereum, Fantom, and Polygon.

    '
  version: 1.0.0
  contact:
    name: Ankr
    url: https://www.ankr.com
    email: support@ankr.com
  license:
    name: Ankr Terms of Service
    url: https://www.ankr.com/terms/
servers:
- url: https://api.staking.ankr.com
  description: Ankr Staking RESTful API.
tags:
- name: Metrics
  description: Liquid staking pool statistics (TVL, APR, holders, supply).
paths:
  /v1.0/metrics:
    get:
      summary: Ankr Get Staking Metrics
      description: Returns Ankr Liquid Staking metrics across all supported tokens.
      operationId: getStakingMetrics
      tags:
      - Metrics
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StakingMetricsList'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
  /v1.0/metrics/{token}:
    get:
      summary: Ankr Get Staking Metrics By Token
      description: Returns staking metrics for a single liquid staking token.
      operationId: getStakingMetricsByToken
      tags:
      - Metrics
      parameters:
      - $ref: '#/components/parameters/Token'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StakingMetrics'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
components:
  responses:
    ErrorResponse:
      description: Error response.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
    StakingMetrics:
      type: object
      properties:
        token:
          type: string
        tvlUsd:
          type: string
        apr:
          type: string
        supply:
          type: string
        holders:
          type: integer
        exchangeRatio:
          type: string
    StakingMetricsList:
      type: array
      items:
        $ref: '#/components/schemas/StakingMetrics'
  parameters:
    Token:
      name: token
      in: path
      required: true
      schema:
        type: string
        enum:
        - ankrETH
        - ankrBNB
        - ankrPOL
        - ankrAVAX
        - ankrFTM
        - ankrDOT
        - ankrFLOW
      description: Liquid staking token symbol.
