openapi: 3.2.0
info:
  title: Ankr Liquid Staking Ratio API
  description: 'The Ankr Liquid Staking RESTful API surfaces staking metrics, the trustless

    exchange ratio, and validator metadata across Ankr''s liquid staking tokens

    (ankrETH, ankrBNB, ankrPOL, ankrAVAX, ankrFTM, ankrDOT, etc.). It complements

    the on-chain Smart Contract API exposed on Avalanche, Binance Smart Chain,

    Ethereum, Fantom, and Polygon.

    '
  version: 1.0.0
  contact:
    name: Ankr
    url: https://www.ankr.com
    email: support@ankr.com
  license:
    name: Ankr Terms of Service
    url: https://www.ankr.com/terms/
servers:
- url: https://api.staking.ankr.com
  description: Ankr Staking RESTful API.
tags:
- name: Ratio
  description: Trustless exchange ratio between native and liquid staking tokens.
paths:
  /v1.0/ratio/{token}:
    get:
      summary: Ankr Get Trustless Ratio
      description: Returns the trustless exchange ratio between the native asset and its liquid staking token.
      operationId: getTrustlessRatio
      tags:
      - Ratio
      parameters:
      - $ref: '#/components/parameters/Token'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrustlessRatio'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
components:
  responses:
    ErrorResponse:
      description: Error response.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
    TrustlessRatio:
      type: object
      properties:
        token:
          type: string
        ratio:
          type: string
        updatedAt:
          type: string
          format: date-time
  parameters:
    Token:
      name: token
      in: path
      required: true
      schema:
        type: string
        enum:
        - ankrETH
        - ankrBNB
        - ankrPOL
        - ankrAVAX
        - ankrFTM
        - ankrDOT
        - ankrFLOW
      description: Liquid staking token symbol.
